<h1>Welcome to our Airline Claim Portal</h1>

<p>
  First off, we're so sorry that you've had a bad experience on your flight.
  Please allow to assist you in determining if you are eligible for a claim, and if so, filing claim with the airline.
</p>

<hr />
<%= form_for(BoardingPass.new) do |f| %>
  <div>
    <%= f.label :image, 'Boarding pass' %>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= label_tag 'claim[category]', 'Reason for claim' %>
    <%= select_tag 'claim[category]', options_for_select(Claim::CLAIM_CATEGORIES.invert.to_a) %>
  </div>

  <p>
    If you were delayed, please tell us when you actually arrived.  For arrival time please use the time the doors opened for disembarkation on your flight.
  </p>
  <div>
    <%= label_tag 'claim[actual_arrival_time]', 'Actual Arrival Time' %>
    <%= datetime_field_tag 'claim[actual_arrival_time]' %>
  </div>

  <p> 
    If you landed at a different aiport than the one you were scheduled to land at, please provide the airport name or three letter code
  </p>
  <div>
    <%= label_tag 'claim[actual_arrived_at]', 'Actual Airport Arrived At' %>
    <%= text_field_tag 'claim[actual_arrived_at]' %>
  </div>

  <div>
    <%= label_tag 'claim[notes]', 'Please tell us more about what lead to your claim' %>
    <br/>
    <%= text_area_tag 'claim[notes]' %>
  </div>

  <div><%= f.submit 'Submit Claim' %></div>
<% end %>
