<h1>Active Claim</h1>

<dl>
  <dt>Claim Reason</dt>
    <dd><%= Claim::CLAIM_CATEGORIES[@claim.category.to_sym] %></dd>
  <dt>Notes</dt>
    <dd><%= @claim.notes %></dd>
</dl>

<% if @claim.boarding_pass.present? %>
  <%= image_tag(@claim.boarding_pass.image) %>
  <% if @claim.boarding_pass.processing? %>
    <p>Processing boarding pass information...</p>
  <% else %>
    <h3>Boarding pass information:</h3>
    <dl>
      <dt>Flight number</dt>
        <dd><%= @claim.boarding_pass.flight_number %></dd>
      <dt>Departure date</dt>
        <dd><%= @claim.boarding_pass.scheduled_departure_time %></dd>
      <dt>Departure airport</dt>
        <dd><%= @claim.boarding_pass.origin_airport_code %></dd>
      <dt>Arrival airport</dt>
        <dd><%= @claim.boarding_pass.destination_airport_code %></dd>
    </dl>
  <% end %>

  <p><% if @claim.eligible_delay? %>
  <b>Your claim is eligible for compensation</b>
<% else %> 
  <b>Your claim is not eligible for compensation.</b>
<% end %></p>

  <%= @claim.claim_decision['reason'] %>

  <p>Demo Info, we detected:
    <ul>
      <li>Delay Reason: <%= @claim.claim_decision['delay_reason'] %></li>
      <li>Delay Time: <%= @claim.time_delayed %></li>
      <li>Airport Landed At: <%= @claim.actual_arrived_at %></li>
    </ul>
  </p>

<% end %>
