/* Reset some basic elements */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Links */
a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
ul, ol {
  list-style: none;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

.body {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px;
}

dt {
  font-weight: 800;
}
