form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    background-color: #f8f8f8;
    &:focus {
      outline: none;
      box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    }
  }

  button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }
}
